extends layout

block content
  h1 #{title}
  h2  Welcome to the Image Processing Api
  p This is a simple api that allows you to upload images and perform resizing operatins on them
  p To view all images, click the link below 
  a(href='api/images') View Images
  p if you have your own image click the button below to upload the image
  if message
    h2(style="color: green;") #{message}
  form(method='post', enctype='multipart/form-data', action='/api/images/upload')
    input(type='file', name='image', accept='image/*', onchange='checkImage(this)')
    br
    input(type='submit', value='Upload Image')
    script.
      function checkImage(input) {
        const file = input.files[0];
        const ext = file.name.split('.').pop();
        if(ext !== 'jpg' && ext !== 'jpeg' && ext !== 'png' && ext !== 'gif' && ext !== 'tiff' && ext !== 'webp') {
          alert('Invalid file type');
          input.value = '';
        }
      }
