doctype html
html
  head
    title Image Processing Api
    h1 Image Processing Api
  body(style="background-color:powderblue;")
      block content
      block error
      block home
      block upload
      block image
  footer
    p developed by @shadrack Odielo
    p (c) 2023